{% extends "base.html" %}

{% block content %}

<h3 class="center-align">Add Gig Review!</h3>
<p class="center-align">Add gigs you've been too or gigs you're going too!</p>

<div class="row card-panel">
  <form class="col s12" method="POST" action="{{ url_for('add_gig') }}">
    {{ form.csrf_token }}
    <div class="row">
      <!-- Category name -->
      <div class="input-field col s12">
        <i class="fas fa-folder-open prefix"></i>
        <select name="category_name" id="category_name" class="validate">
          <option value="" disabled selected>Choose Category</option>
          {% for category in categories %}
          <option value="{{ category.category_name }}">
            {{- category.category_name -}}
          </option>
          {% endfor %}
        </select>
        <label for="category_name">Attended or Upcoming?</label>
      </div>
    </div>
    <div id="allForms">
      <div class="row">
        <!-- Artist Name -->
        <div class="input-field col s12">
          <i class="fas fa-music prefix"></i>
          {{ form.band_name }}
          {{ form.band_name.label }}
        </div>
      </div>
      <div class="row">
        <!-- Venue Name -->
        <div class="input-field col s12">
          <i class="fas fa-landmark prefix"></i>
          {{ form.where }}
          {{ form.where.label }}
        </div>
      </div>
      <div class="row">
        <!-- Date of Venue -->
        <div class="input-field col s12">
          <i class="fas fa-calendar-alt prefix"></i>
          {{ form.when }}
          {{ form.when.label }}
        </div>
      </div>
    </div>
    <div id="attendedForm">
      <div class="row">
        <!-- Gig Review -->
        <div class="input-field col s12">
          <i class="fas fa-comments prefix"></i>
          {{ form.description }}
          {{ form.description.label }}
        </div>
      </div>
      <div class="row">
        <!-- Gig Rating -->
        <div class="input-field col s12">
          <i class="fas fa-star-half-alt prefix"></i>
          {{ form.rating }}
          {{ form.rating.label }}
        </div>
      </div>
    </div>
    <!-- Submission Button -->
    <div class="row">
      {{ form.submit(class="col s6 offset-s3 orange btn-large") }}
    </div>

  </form>
</div>

{% endblock %}