{% extends "base.html" %}

{% block content %}

<h3 class="center-align">Edit Gig Reviews</h3>
<p class="center-align">Here you can edit your reviews and also make them visible to everyone by setting upcoming to
    past!</p>

<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_gig', gig_id=gig._id) }}">
        <div class="row">
            <!-- Category name -->
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix"></i>
                <select name="category_name" id="category_name" class="validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                    {% if category.category_name == gig.category_name %}
                    <option value="{{ category.category_name }}">
                        {{- category.category_name -}}
                    </option>
                    {% else %}
                    <option value="{{ category.category_name }}">
                        {{- category.category_name -}}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Attended or Upcoming?</label>
            </div>
        </div>
        <div class="row">
            <!-- Artist Name -->
            <div class="input-field col s12">
                <i class="fas fa-music prefix"></i>
                {{ form.band_name }}
                {{ form.band_name.label }}
            </div>
        </div>
        <div class="row">
            <!-- Venue Name -->
            <div class="input-field col s12">
                <i class="fas fa-landmark prefix"></i>
                {{ form.where }}
                {{ form.where.label }}
            </div>
        </div>
        <div class="row">
            <!-- Date of Venue -->
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix"></i>
                {{ form.when }}
                {{ form.when.label }}
            </div>
        </div>
        <div class="row">
            <!-- Gig Review -->
            <div class="input-field col s12">
                <i class="fas fa-comments prefix"></i>
                {{ form.description }}
                {{ form.description.label }}
            </div>
        </div>
        <div class="row">
            <!-- Gig Rating -->
            <div class="input-field col s12">
                <i class="fas fa-star-half-alt prefix"></i>
                {{ form.rating }}
                {{ form.rating.label }}
            </div>
        </div>
        <div class="row">
            <!-- Edit Gig submission button -->
            <div class="col s12 center-align">
                <div class="input-field inline">
                    <button class="orange btn-large" type="submit" name="submit">
                        Submit Gig
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}