{% extends "base.html" %}

{% block home %}

<h3 class="center-align">{{ gigs.band_name }}</h3>

<div class="row">
    <div class="col s12">
        <div class="col m6 offset-m2 welcome-box center-align">
            <p class="card-text-big"><strong>Gig date:</strong> {{ gig.when }}</p>
            <p class="card-text-big"><strong>Venue:</strong> {{ gig.where }}</p>
            <p class="card-text-big"><strong>Review:</strong> {{ gig.description }}</p>
            <p class="card-text-big"><strong>Rating:</strong> {{ gig.rating }}/10</p>
            <p class="card-text-big"><i>Reviewed By: {{ gig.created_by }}</i></p>
        </div>
    </div>
</div>

{% endblock %}