{% extends "base.html" %}

{% block home %}

<div id="home-div" class="row home-img">
    {% if session.user %}
    <div class="col s12">
        <div class="col m4 offset-m4 welcome-box center-align">
            <h4 class="orange-text text-darken-2">Welcome back {{ session.user }}</h4>
            <p class="white-text">All the reviews are down below ready for you!</p>
            <p class="white-text">You can search for your favourite bands to see how other people found them too!</p>
        </div>
    </div>
    {% else %}
    <div class="col s12">
        <div class="col m4 offset-m4 welcome-box center-align">
            <h4 class="orange-text text-darken-2">Welcome to Rate The Gig!</h4>
            <p class="white-text">Your one stop shop for all gig reviews</p>
            <p class="white-text">To add reviews for yourself sign up today!</p>
            <a href="{{ url_for('register') }}" class="orange btn-large"><i class="fas fa-user-plus"></i> Sign Up</a>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}

{% block content %}

<h3 class="center-align">Search!</h3>

<div class="row card-panel search-bar">
    <form action="{{ url_for('search') }}" method="POST" class="s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix white-text"></i>
                <input type="text" name="search" id="search" minlength="3" class="validate" required>
                <label for="search">Search Tasks</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('all_gigs') }}" class="red btn">Reset</a>
                <button type="submit" class="orange btn">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

<h3 class="center-align">Gig Reviews!</h3>

{% if gigs|length > 0 %}
<div class="row">
    {% for gig in gigs %}
    {% if gig.category_name|lower == "past"|lower %}
    <div class="col s12 m3">
        <div class="card medium card-color darken-1">
            <div class="card-content white-text">
                <span class="card-title orange-text text-darken-2">
                    <h5 class="review-cards">{{ gig.band_name }}</h5>
                </span>
                <p class="card-text"><strong>Gig date:</strong> {{ gig.when }}</p>
                <p class="card-text"><strong>Venue:</strong> {{ gig.where }}</p>
                <p class="card-text"><strong>Review:</strong> {{ gig.description }}</p>
                <p class="card-text"><strong>Rating:</strong> {{ gig.rating }}/10</p>
                <p class="card-text"><i>Reviewed By: {{ gig.created_by }}</i></p>
            </div>
            {% if session.user|lower == gig.created_by|lower %}
            <div class="card-action orange-text text-darken-2">
                <a href="{{ url_for('edit_gig', gig_id=gig._id) }}">Edit</a>
                <a class="modal-trigger" href="#modal1">Delete</a>
                <div id="modal1" class="modal">
                    <div class="modal-box modal-content">
                        <h2>Confirm</h2>
                        <p>Are you sure you want to delete this gig?</p>
                        <div>
                            <a href="{{ url_for('delete', gig_id=gig._id) }}" class="modal-close red btn-large">Yes!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% elif session.user|lower == "__admin__"|lower %}
            <div class="card-action orange-text text-darken-2">
                <a href="{{ url_for('edit_gig', gig_id=gig._id) }}">Edit</a>
                <a class="modal-trigger" href="#modal1">Delete</a>
                <div id="modal1" class="modal">
                    <div class="modal-box modal-content">
                        <h2>Confirm</h2>
                        <p>Are you sure you want to delete this gig?</p>
                        <div>
                            <a href="{{ url_for('delete', gig_id=gig._id) }}" class="modal-close red btn-large">Yes!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<h3 class="center-align">
    No Results Found! Try again!
</h3>
{% endif %}

{% endblock %}