{% extends "base.html" %}

{% block home %}

<div id="home-div" class="row home-img">
    {% if session.user %}
    <div class="col s12">
        <div class="col m4 offset-m4 welcome-box center-align">
            <h4 class="orange-text text-darken-2">Welcome back {{ session.user }}</h4>
            <p class="white-text">All the reviews are down below ready for you!</p>
            <p class="white-text">You can search for your favourite bands to see how other people found them too!</p>
        </div>
    </div>
    {% else %}
    <div class="col s12">
        <div class="col m4 offset-m4 welcome-box center-align">
            <h4 class="orange-text text-darken-2">Welcome to Rate The Gig!</h4>
            <p class="white-text">Your one stop shop for all gig reviews</p>
            <p class="white-text">To add reviews for yourself sign up today!</p>
            <a href="{{ url_for('register') }}" class="waves-effect waves-light btn-large"><i
                    class="fas fa-user-plus"></i> Sign Up</a>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}

{% block content %}

<h3 class="center-align">Gig Reviews!</h3>

<div class="row">
    {% for gig in gigs %}
    {% if gig.category_name|lower == "past"|lower %}
    <div class="col s12 m3">
        <div class="card card-color darken-1">
            <div class="card-content white-text">
                <span class="card-title orange-text text-darken-2">
                    <h5 class="review-cards" >{{ gig.band_name }}</h5>
                </span>
                <p class="card-text"><strong>Gig date:</strong> {{ gig.when }}</p>
                <p class="card-text"><strong>Venue:</strong> {{ gig.where }}</p>
                <p class="card-text"><strong>Review:</strong> {{ gig.description }}</p>
                <p class="card-text"><strong>Rating:</strong> {{ gig.rating }}/10</p>
                <p class="card-text"><i>Reviewed By: {{ gig.created_by }}</i></p>
            </div>
            {% if session.user|lower() == gig.created_by|lower() %}
            <div class="card-action orange-text text-darken-2">
                <a href="{{ url_for('edit_gig', gig_id=gig._id) }}">Edit</a>
                <a href="#">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}